<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarjetas de Seleccion</title>
<link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="title_principal">
        <H1>TARJETAS DE SELECCION</H1>
       
    </div>
    <div class="cards">
        <div class="card">
            <div class="header">
                <div class="date">01 de Marzo</div>
                <div class="title">Cumple de Aldy</div>
            </div>
            <div class="footer">
                <div class="autor">
                    <a href="#">
                        <img src="" alt="" />
                        <span>Augusto Mierez</span>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="card element-1">
            <div class="header">
                <div class="date">25 de Marzo</div>
                <div class="title">Cumple de Delfi</div>
            </div>
            <div class="footer">
                <div class="autor">
                    <a href="#">
                        <img src="" alt="" />
                        <span>Augusto Mierez</span>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="card element-2">
            <div class="header">
                <div class="date">22 de Agosto</div>
                <div class="title">Cumple de Ludmi</div>
            </div>
            <div class="footer">
                <div class="autor">
                    <a href="#">
                        <img src="" alt="" />
                        <span>Augusto Mierez</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card element-3">
            <div class="header">
                <div class="date">22 de Febrero</div>
                <div class="title">Cumple de Santi</div>
            </div>
            <div class="footer">
                <div class="autor">
                    <a href="#">
                        <img src="" alt="" />
                        <span>Augusto Mierez</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card element-4">
            <div class="header">
                <div class="date">08 de Noviembre</div>
                <div class="title">Cumple de Jere</div>
            </div>
            <div class="footer">
                <div class="autor">
                    <a href="#">
                        <img src="" alt="" />
                        <span>Augusto Mierez</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>